# Tutorial 1

Hello World

In [2]:
print("\nHello World!")

Hello World!

String Design and Layout

In [3]:
print("Hello","World \n") 
print('Hello World\n')    
print("Hello 'World'\n")
print('"Hello" World\n')
print("'Hello' \"World\" \n")
print('''Hello
World''')

Hello World

Hello World

Hello 'World'

"Hello" World

'Hello' "World"

Hello
World

Format of String

In [4]:
name = "Akash Arya"
print("Hello, my name is %s"% name)
print("Hello, my name is {}".format(name))
print(f"Hello, my name is {name}") # Will only work in Python 3.6+

Hello, my name is Akash Arya
Hello, my name is Akash Arya
Hello, my name is Akash Arya

In [6]:
integer = 1
floating_point = 3.14
complex_number = 3 + 4j
boolean_variable = True
print(f'{type(complex_number)}')

<class 'complex'>

In [10]:
integer = 1
floating_point = 3.14
complex_number = 3 + 4j
boolean_variable = True
print("{}".format(complex_number))

(3+4j)

Storing the Values

In [12]:
a = 3
b = 6 
print("a+b = {}".format(a+b))
print("a-b = {}".format(a-b))
print("a*b = {}".format(a*b))
print("a/b = {}".format(a/b))
print("a//b = {}".format(a//b))
print("a**b = {}".format(a**b))

a+b = 9
a-b = -3
a*b = 18
a/b = 0.5
a//b = 0
a**b = 729

Tuples ()

In [17]:
tuple1=('a','b','c','d','e','f','g','h',1,2,3,4,5,6,7,8,9,10)
tuple1[0]

'a'

In [18]:
tuple1=('a','b','c','d','e','f','g','h',1,2,3,4,5,6,7,8,9,10)
tuple1[4:9]

('e', 'f', 'g', 'h', 1)

In [19]:
tuple1=('a','b','c','d','e','f','g','h',1,2,3,4,5,6,7,8,9,10)
tuple1[2:15:2]

('c', 'e', 'g', 1, 3, 5, 7)

In [20]:
tuple1=('a','b','c','d','e','f','g','h',1,2,3,4,5,6,7,8,9,10)
tuple1[:12:2]

('a', 'c', 'e', 'g', 1, 3)

In [21]:
tuple1=('a','b','c','d','e','f','g','h',1,2,3,4,5,6,7,8,9,10)
tuple1[5::3]

('f', 1, 4, 7, 10)

In [22]:
tuple1=('a','b','c','d','e','f','g','h',1,2,3,4,5,6,7,8,9,10)
tuple1[-2]

9

Lists()

In [25]:
nested_list=[[1,2,3],['a','b','c'],['astro','cosmo','gravity']]
print(nested_list)

[[1, 2, 3], ['a', 'b', 'c'], ['astro', 'cosmo', 'gravity']]

In [26]:
my_list=['astro',1,2,3,'cosmo']
my_list[1]=3.26
print(my_list)

['astro', 3.26, 2, 3, 'cosmo']

In [27]:
my_list=['astro',1,2,3,'cosmo']
my_list.append(['gravity','relativity']) # This will be important later!
print(my_list)

['astro', 1, 2, 3, 'cosmo', ['gravity', 'relativity']]

In [28]:
my_list=['astro',1,2,3,'cosmo']
del my_list[1:4]
print(my_list)

['astro', 'cosmo']

In [29]:
my_list=['astro',1,2,3,'cosmo']
my_list.remove('cosmo')
print(my_list)

['astro', 1, 2, 3]

In [30]:
my_list=['astro',1,2,3,'cosmo']
print(len(my_list))

5

In [32]:
my_string = "Akash from IIT Bombay"
print(my_string.split())

['Akash', 'from', 'IIT', 'Bombay']

In [33]:
my_string = "Akash from IIT Bombay"
print(my_string.split(':'))

['Akash from IIT Bombay']

In [34]:
string_with_spaces = "   Why are there spaces here?   "
print(string_with_spaces)

   Why are there spaces here?

In [35]:
string_with_spaces = "   Why are there spaces here?   "
list_of_words = string_with_spaces.split()
print(list_of_words)

['Why', 'are', 'there', 'spaces', 'here?']

In [36]:
string_with_spaces = "   Why are there spaces here?   "
list_of_words = string_with_spaces.split()
string_without_spaces = ' '.join(list_of_words)
print(string_without_spaces)

Why are there spaces here?

In [37]:
string_with_spaces = "   Why are there spaces here?   "
list_of_words = string_with_spaces.split()
string_without_spaces = string_with_spaces.strip()
print(string_without_spaces)

Why are there spaces here?

Dictionaries {}

In [38]:
my_dictionary = {'Phobos':'Mars', 'Ganymede':'Jupiter', 'Titan':'Saturn', 'Titania':'Uranus', 'Triton':'Neptune'}
moon = 'Phobos'
print(f'The largest moon of {my_dictionary[moon]} is {moon}')

The largest moon of Mars is Phobos

Conditionals in Python

In [39]:
a=5
if a<5:
    print("i am in the if block")
    print(a,"is less than 5")
elif a==5:
    print("i am in the elif block")
    print(a, "is equal to 5")
else:
    print("i am in the else block")
    print(a, "i more than 5")

i am in the elif block
5 is equal to 5

In [40]:
b=8
if  7 < b < 9:
    print("b is between 7 and 9")
elif b < 7:
    print("b is smaller than 7")
else:
    print("b is greater than 9")

b is between 7 and 9

a=True
b=False
print(a and b)

Loops

In [43]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [45]:
for i in range(0,10,2): 
    print(i, end='5')

0525456585

In [46]:
my_iter=5
while my_iter > 0:
    print(my_iter**2, end=' ')
    my_iter-=1

25 16 9 4 1

In [5]:
with open('Moons_and_planets.csv', 'r') as f:
    lines = f.read().split('\n')
    print(lines[:5])

['# Name of Moon, Name of Planet, Diameter (km)', 'Moon,Earth,1737.1', 'Phobos,Mars,11.1', 'Deimos,Mars,6.2', 'Io,Jupiter,1818.1']

In [10]:
data_moons = [] #appending values in empty list
for line in lines:
    data_moons.append(line.split(',')) 
data_moons[:5]

[['# Name of Moon', ' Name of Planet', ' Diameter (km)'],
 ['Moon', 'Earth', '1737.1'],
 ['Phobos', 'Mars', '11.1'],
 ['Deimos', 'Mars', '6.2'],
 ['Io', 'Jupiter', '1818.1']]

# Assignment

In [29]:
with open('Moons_and_planets.csv','r') as f:    #creating a list 
    lines=f.read().split('\n')
del lines[0]
data_moons=[]   #nested list with planet, moon, diameter
for line in lines:
    data_moons.append(line.split(','))
mer,ven,ear,mar,jup,sat,ura,nep,plu=[0,0,0,0,0,0,0,0,0] #counter
print(data_moons[-5:])
del data_moons[len(data_moons)-1]

for i in range(len(data_moons)):            #if-elif ladder to count number of moons
    if data_moons[i][1] == 'Mercury':
        mer=mer+1
    elif data_moons[i][1]== 'Venus':
        ven=ven+1
    elif data_moons[i][1]== 'Earth':
        ear=ear+1
    elif data_moons[i][1]== 'Mars':
        mar=mar+1
    elif data_moons[i][1]== 'Jupiter':
        jup=jup+1
    elif data_moons[i][1]== 'Saturn':
        sat=sat+1
    elif data_moons[i][1]== 'Uranus':
        ura=ura+1
    elif data_moons[i][1]== 'Neptune':
        nep=nep+1
    elif data_moons[i][1]== 'Pluto':
        plu=plu+1

[['Nix', 'Pluto', '23.0'], ['Hydra', 'Pluto', '30.5'], ['Kerberos', 'Pluto', '14.0'], ['Styx', 'Pluto', '10.0'], ['']]

In [26]:
print(mer,ven,ear,mar,jup,sat,ura,nep,plu)

0 0 1 2 79 82 27 14 5

In [27]:
print(f"Jupiter has {jup} moons")

Jupiter has 79 moons

In [30]:
lis=[]
for i in range(len(data_moons)):
    lis.append(float(data_moons[i][2]))          #separate list with only float entries created,then bubble sort algorithm on 
for i in range(len(data_moons)):                 #both lists implemented
    for j in range(0,len(data_moons)-1-i):
        if lis[j]>lis[j+1]:
            lis[j],lis[j+1]=lis[j+1],lis[j]
            data_moons[j],data_moons[j+1]=data_moons[j+1],data_moons[j]     
            

print("{:<15}{:<8}{:>5}".format("Moon", "Planet", "Diameter"))
print("-"*30)
for i in data_moons:
    print(f"{i[0]:<15}{i[1]:<8}{i[2]:>5}")

Moon           Planet  Diameter
------------------------------
S/2009 S 1     Saturn   0.15
Aegaeon        Saturn   0.33
S/2010 J 2     Jupiter   0.5
S/2011 J 2     Jupiter   0.5
Valetudo       Jupiter   0.5
S/2017 J 8     Jupiter   0.5
S/2011 J 1     Jupiter   0.5
S/2003 J 9     Jupiter   0.5
S/2003 J 12    Jupiter   0.5
Euporie        Jupiter   1.0
Orthosie       Jupiter   1.0
Sponde         Jupiter   1.0
Kale           Jupiter   1.0
Pasithee       Jupiter   1.0
Mneme          Jupiter   1.0
Thelxinoe      Jupiter   1.0
Kallichore     Jupiter   1.0
Cyllene        Jupiter   1.0
Kore           Jupiter   1.0
Herse          Jupiter   1.0
S/2010 J 1     Jupiter   1.0
S/2003 J 18    Jupiter   1.0
Philophrosyne  Jupiter   1.0
Eupheme        Jupiter   1.0
S/2003 J 19    Jupiter   1.0
S/2017 J 2     Jupiter   1.0
S/2017 J 3     Jupiter   1.0
Pandia         Jupiter   1.0
S/2017 J 5     Jupiter   1.0
S/2017 J 6     Jupiter   1.0
S/2017 J 7     Jupiter   1.0
S/2017 J 9     Jupiter   1.0
Ersa           Jupiter   1.0
S/2003 J 2     Jupiter   1.0
S/2003 J 4     Jupiter   1.0
S/2003 J 10    Jupiter   1.0
S/2003 J 16    Jupiter   1.0
S/2003 J 23    Jupiter   1.0
Anthe          Saturn    1.0
Polydeuces     Saturn   1.25
Aitne          Jupiter   1.5
Eurydome       Jupiter   1.5
Euanthe        Jupiter   1.5
Hegemone       Jupiter   1.5
Arche          Jupiter   1.5
Carpo          Jupiter   1.5
Erinome        Jupiter   1.6
Methone        Saturn    1.6
Chaldene       Jupiter   1.9
Isonoe         Jupiter   1.9
Autonoe        Jupiter   2.0
Thyone         Jupiter   2.0
Hermippe       Jupiter   2.0
Aoede          Jupiter   2.0
Helike         Jupiter   2.0
Eukelade       Jupiter   2.0
Dia            Jupiter   2.0
Eirene         Jupiter   2.0
S/2017 J 1     Jupiter   2.0
Pallene        Saturn    2.0
Fenrir         Saturn    2.0
S/2004 S 17    Saturn    2.0
Harpalyke      Jupiter   2.2
Taygete        Jupiter   2.5
Farbauti       Saturn    2.5
S/2004 S 12    Saturn    2.5
Kalyke         Jupiter   2.6
Iocaste        Jupiter   2.6
Megaclite      Jupiter   2.7
S/2016 J 1     Jupiter   3.0
Aegir          Saturn    3.0
Bebhionn       Saturn    3.0
Bergelmir      Saturn    3.0
Fornjot        Saturn    3.0
Hati           Saturn    3.0
Loge           Saturn    3.0
Skoll          Saturn    3.0
Surtur         Saturn    3.0
Jarnsaxa       Saturn    3.0
Greip          Saturn    3.0
S/2004 S 7     Saturn    3.0
S/2004 S 13    Saturn    3.0
S/2006 S 1     Saturn    3.0
S/2006 S 3     Saturn    3.0
S/2007 S 2     Saturn    3.0
S/2007 S 3     Saturn    3.0
S/2004 S 20    Saturn    3.0
S/2004 S 21    Saturn    3.0
S/2004 S 22    Saturn    3.0
S/2004 S 24    Saturn    3.0
S/2004 S 30    Saturn    3.0
S/2004 S 34    Saturn    3.0
S/2004 S 36    Saturn    3.0
S/2004 S 39    Saturn    3.0
Praxidike      Jupiter   3.4
Suttungr       Saturn    3.5
Mundilfari     Saturn    3.5
Thrymr         Saturn    3.5
Narvi          Saturn    3.5
Bestla         Saturn    3.5
Kari           Saturn    3.5
Tarqeq         Saturn    3.5
Daphnis        Saturn    3.8
Themisto       Jupiter   4.0
Skathi         Saturn    4.0
Hyrrokkin      Saturn    4.0
S/2004 S 23    Saturn    4.0
S/2004 S 25    Saturn    4.0
S/2004 S 26    Saturn    4.0
S/2004 S 28    Saturn    4.0
S/2004 S 29    Saturn    4.0
S/2004 S 31    Saturn    4.0
S/2004 S 32    Saturn    4.0
S/2004 S 33    Saturn    4.0
S/2004 S 37    Saturn    4.0
S/2004 S 38    Saturn    4.0
Callirrhoe     Jupiter   4.3
Erriapus       Saturn    5.0
Margaret       Uranus    5.5
Ijiraq         Saturn    6.0
S/2004 S 27    Saturn    6.0
S/2004 S 35    Saturn    6.0
Francisco      Uranus    6.0
Ferdinand      Uranus    6.0
Mab            Uranus    6.0
Deimos         Mars      6.2
Tarvos         Saturn    7.5
Kiviuq         Saturn    8.0
Adrastea       Jupiter   8.2
Ymir           Saturn    9.0
Trinculo       Uranus    9.0
Cupid          Uranus    9.0
Calypso        Saturn    9.5
Leda           Jupiter  10.0
Stephano       Uranus   10.0
Styx           Pluto    10.0
Paaliaq        Saturn   11.0
Phobos         Mars     11.1
Telesto        Saturn   12.0
Pan            Saturn   12.8
Ananke         Jupiter  14.0
Kerberos       Pluto    14.0
Perdita        Uranus   15.0
Atlas          Saturn   15.3
Helene         Saturn   16.0
Albiorix       Saturn   16.0
Hippocamp      Neptune  17.4
Lysithea       Jupiter  18.0
Sinope         Jupiter  19.0
Siarnaq        Saturn   20.0
Psamathe       Neptune  20.0
Cordelia       Uranus   20.1
Caliban        Uranus   21.0
Laomedeia      Neptune  21.0
Ophelia        Uranus   21.4
Metis          Jupiter  21.5
Sao            Neptune  22.0
Carme          Jupiter  23.0
Nix            Pluto    23.0
Setebos        Uranus   24.0
Prospero       Uranus   25.0
Bianca         Uranus   25.7
Pasiphae       Jupiter  30.0
Neso           Neptune  30.0
Hydra          Pluto    30.5
Halimede       Neptune  31.0
Desdemona      Uranus   32.0
Naiad          Neptune  33.0
Rosalind       Uranus   36.0
Cressida       Uranus   39.8
Belinda        Uranus   40.3
Pandora        Saturn   40.6
Thalassa       Neptune  41.0
Elara          Jupiter  43.0
Prometheus     Saturn   46.8
Juliet         Uranus   46.8
Thebe          Jupiter  49.3
Epimetheus     Saturn   58.3
Himalia        Jupiter  67.0
Portia         Uranus   67.6
Despina        Neptune  75.0
Sycorax        Uranus   78.5
Puck           Uranus   81.0
Amalthea       Jupiter  83.5
Galatea        Neptune  88.0
Janus          Saturn   90.4
Larissa        Neptune  97.0
Phoebe         Saturn  106.6
Hyperion       Saturn  138.6
Nereid         Neptune 178.5
Mimas          Saturn  198.2
Proteus        Neptune 210.0
Miranda        Uranus  235.8
Enceladus      Saturn  252.3
Tethys         Saturn  536.3
Dione          Saturn  562.5
Ariel          Uranus  578.9
Umbriel        Uranus  584.7
Charon         Pluto   606.0
Iapetus        Saturn  734.5
Oberon         Uranus  761.4
Rhea           Saturn  764.5
Titania        Uranus  788.9
Triton         Neptune 1353.4
Europa         Jupiter 1560.7
Moon           Earth   1737.1
Io             Jupiter 1818.1
Callisto       Jupiter 2408.4
Titan          Saturn  2575.5
Ganymede       Jupiter 2634.1